/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background: #BBB0A9;
  color: #ffffff;
  line-height: 1.6;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.navbar a {
  margin-left: 24px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* ===== HERO ===== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 60px;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 52px;
  margin-bottom: 16px;
}

.hero-text span {
  color: #664C35;
}

.hero-text p {
  color: #ffffff;
  margin-bottom: 32px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}

.primary {
  background: #664C35;
  color: #fff;
}

.secondary {
  border: 1px solid #ccc;
  color: #ffffff;
}

/* Hero Image */
.hero-image img {
  width: 320px;
  border-radius: 16px;
}

/* ===== PROJECTS ===== */
.projects {
  padding: 80px;
  background: #EEE6E6;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
}

.project-card{
  background: #CCBEB1;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #;
  color:#664C35;
}

.project-card h3 {
  margin-bottom: 12px;
}

.project-card p {
  color: #000000;
  margin-bottom: 16px;
}

.project-card a {
  text-decoration: none;
  color: #2FC414;
  font-weight: 500;
}

/* ===== ABOUT ===== */
.about {
  padding: 80px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 24px;
}

.about p {
  max-width: 700px;
  margin: auto;
  color: #ffffff;
}

/* ===== CONTACT ===== */
.contact {
  padding: 60px;
  background: #000000;
  color: #fff;
  text-align: center;
}

.contact a {
  color: #2FC414;
  text-decoration: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .navbar {
    padding: 24px;
  }

  .hero,
  .projects,
  .about {
    padding: 60px 24px;
  }
}
